{% extends "base.html" %}

{% block content %}
    <div><a href="{% url 'leads:lead-list' %}">Go back to Leads</a></div>
    <div>  
        <a href="{% url 'leads:lead-update' lead.pk %}"><button type="submit">Update</button></a>
        <a href="{% url 'leads:lead-delete' lead.pk %}"><button type="submit">Delete</button></a>
      </div>
    <hr>
    <h1>This is the detail of {{ lead.first_name }}</h1>
    <p>{{ lead.first_name }} {{ lead.last_name }}. Age: {{ lead.age }}</p>
    <p>The agent respinsable for this lead is : {{ lead.agent }}</p>
{% endblock content %} 